
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

body {
    background-color: #181b21;
}

h1 {
    margin: auto;
    text-align: center;
    padding: 20px;
    font-weight: 700;
    font-size: 64px;
}

.b-container, #play-again {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 80vw;
    margin-left: 10vw;
    padding: 50px;
}

.button {
    align-items: center;
    background-color: transparent;
    background: transparent;
    height: 150px;
    width: 150px;
    border: 4px aliceblue solid;
    border-radius: 50%;
    cursor: pointer;
}

.button img {
    height:75px;
    width: 75px;
}

.js-score {
    text-align: center;
    font-size: 32px;
    padding: 20px;
}

.js-end-msg {
    text-align: center;
    font-size: 24px;
}

#play-again button {
    background-color: transparent;
    background: transparent; 
    height: 100px;
    width: 200px;
    border: 4px aliceblue solid;
    font-size: 32px;
    cursor: pointer;
}